{% extends 'base.html' %}

{% block content %}
    <h1>All Posts</h1>
    <div class="list-group">
        {% for post in posts %}
            <div class="list-group-item">
                <h5>{{ post.text }}</h5>
                {% if post.image %}
                    <img src="{{ url_for('static', filename='images/' + post.image) }}" alt="Post Image" class="img-fluid">
                {% endif %}
                <p>HashTags: {{ post.hashtags }}</p>
                <p>Created On: {{ post.created_on }}</p>
                <a href="{{ url_for('edit_post', post_id=post.id) }}" class="btn btn-primary">Edit</a>
                <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}
